body {
  font-family: "Helvetica";
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px solid black;
}

.center-column {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.row-column-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.table-header-page-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 30%;
}

.search-input {
  margin-right: 5px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  outline: 2px solid black;
}

.display-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.stream-description {
  margin-top: 0px;
  margin-bottom: 0px;
}
